{% trans_default_domain 'FOSUserBundle' %}

<div class="login-box" style="min-height: 390px">
    <div class="login-logo">
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <h4 class="login-box-msg">Bienvenue sur WeDrop <br>
            Merci de vous identifier
        </h4>
        <br>
        {% if error %}
            <div class="alert alert-danger alert-dismissable">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <form action="{{ path("fos_user_security_check") }}" method="post" class="form-signin">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
            <div class="form-group has-feedback">
                <input type="text" id="username" name="_username" value="{{ last_username }}" required="required"
                       class="form-control"/>
                <span class=" form-control-feedback"><i class="fa fa-envelope-o"></i></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" class="form-control" id="password" name="_password" required="required"/>
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <input type="submit" class="form-control btn-primary" id="_submit" name="_submit"
                           value="{{ 'menu.login'|trans({},'label', 'fr') }}"/>
                </div>
                <div class="col-xs-12" style="margin-top: 20px">
                    <div class="col-xs-6 no-padding" style="margin-bottom: 15px">
                        <div class="">
                            <div class="checkboxFive">
                                <input type="checkbox" value="1" id="checkboxFiveInput" name="_remember_me">
                                <label for="checkboxFiveInput"></label>
                            </div>
                            <span style="margin-left:15px ">{{ 'security.login.remember_me'|trans({},'label', 'fr') }}</span>
                        </div>

                    </div>

                    <!-- /.col -->
                    <div class="col-xs-6 no-padding">
                        <a href="{{ url('fos_user_resetting_request') }}" class="float-right">{{ 'security.login.lost_password'|trans({},'label', 'fr') }}?</a>
                    </div>
                </div>
                <!-- /.col -->
            </div>
        </form>
    </div>
</div>
